<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"tunet-starter/hero"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/proof"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/services"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/about"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/features"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/testimonials"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/pricing"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/faq"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/posts"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/cta"} /-->
	<!-- wp:pattern {"slug":"tunet-starter/contact"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
