<!-- wp:template-part {"slug":"header","tagName":"div"} /-->
<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"blokmark/hero"} /-->
	<!-- wp:pattern {"slug":"blokmark/proof"} /-->
	<!-- wp:pattern {"slug":"blokmark/services"} /-->
	<!-- wp:pattern {"slug":"blokmark/about"} /-->
	<!-- wp:pattern {"slug":"blokmark/features"} /-->
	<!-- wp:pattern {"slug":"blokmark/testimonials"} /-->
	<!-- wp:pattern {"slug":"blokmark/pricing"} /-->
	<!-- wp:pattern {"slug":"blokmark/faq"} /-->
	<!-- wp:pattern {"slug":"blokmark/posts"} /-->
	<!-- wp:pattern {"slug":"blokmark/cta"} /-->
	<!-- wp:pattern {"slug":"blokmark/contact"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
